@model RegisterViewModel
@{ ViewBag.Title = "NatterLite-Register"; }

<link rel="stylesheet" href="~/css/Account/register.css" />

<div class="Login">
    <form asp-antiforgery="true" asp-action="Register" asp-controller="Account" enctype="multipart/form-data">
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <p>
            <label asp-for="FirstName">First Name*:</label><br />
            <input type="text" id="firstName" asp-for="FirstName" />
            <span asp-validation-for="FirstName"></span>
        </p>
        <p>
            <label asp-for="LastName">Last Name*:</label><br />
            <input type="text" id="lastName" asp-for="LastName" />
            <span asp-validation-for="LastName"></span>
        </p>
        <p>
            <label asp-for="UniqueName">Unique Name*:</label><br />
            <input type="text" id="uniqueName" asp-for="UniqueName" />
            <span asp-validation-for="UniqueName"></span>
        </p>
        <p>
            <label asp-for="Country">Country:</label><br />
            <select id="country" asp-for="Country">
                @foreach (var country in ViewBag.Countries)
                {
                    <option value="@country">@country</option>
                }
            </select>
        </p>
        <p>
            <label for="dateOfBirth">Date of Birth:</label><br />
            <input type="date" id="dateOfBirth" asp-for="DateOfBirth"
                   value="1990-01-01"
                   min="1920-01-01" max="2020-12-31">
        </p>
        <p>
            <label asp-for="Email">Email*:</label><br />
            <input type="text" id="email" asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </p>
        <p>
            <label asp-for="Password">Password*:</label><br />
            <input type="password" id="password" asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </p>
        <p>
            <label asp-for="ConfirmPassword">Confirm password*:</label><br />
            <input type="password" id="confirmPassword" asp-for="ConfirmPassword" />
            <span asp-validation-for="ConfirmPassword"></span>
        </p>
        <p>
            <label asp-for="ProfilePicture">Profile Picture:</label><br />
            <label class="input-file">
                <input type="file" asp-for="ProfilePicture" accept=".jpg, .jpeg">
                <span>Choose file(.jpg or.jpeg)</span>
            </label>
            <span asp-validation-for="ProfilePicture"></span>
        </p>
        <p>
            <label asp-for="BackgroundPicture">Background Picture:</label><br />
            <label class="input-file">
                <input type="file" asp-for="BackgroundPicture" accept=".jpg, .jpeg">
                <span>Choose file(.jpg or.jpeg)</span>
            </label>
            <span asp-validation-for="BackgroundPicture"></span>
        </p>
        <p>
            <div class="button"><input type="submit" value="Register" /></div>
        </p>
    </form>
</div>
<script>
    $('.input-file input[type=file]').on('change', function () {
        let file = this.files[0];
        $(this).next().html(file.name);
    });
</script>
