* {
    box-sizing: border-box;
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, dl, dt, dd,
ol, ul, li, form, table, caption, tr, th, td, article, aside, footer, header {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    font-family: Verdana, Arial, sans-serif;
    background-color: white;
    min-width: 800px;
}

html, body, div {
    height: 100%;
}

input[type=submit]:hover {
    background-color: white;
}

.header {
    background-color: white;
    border-bottom: 1px solid #ded5d5;
    height: 15%;
    min-height: 90px;
}

.logo {
    height: 100%;
    width: 40%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: left;
}

    .logo img {
        height: 42px;
        width: 42px;
        margin-left: 20px;
        margin-top: 5px;
    }

.header h1 {
    font-size: 42px;
    font-weight: bold;
}

.header span {
    height: 20%;
    float: left;
    padding-left: 20px;
}

.userblock {
    height: 100%;
    width: 50%;
    float: right;
    display: flex;
    align-items: center;
    justify-content: right;
}

    .userblock img {
        height: 60px;
        width: 60px;
        border-radius: 50%;
    }

    .userblock h3 {
        margin-right: 10px;
    }


.dropdown {
    height: 40px;
    width: 40px;
    float: right;
    position: relative;
    display: block;
    margin-right: 30px;
    border-radius: 5px;
}

.threedot {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .threedot:after {
        content: '\2807';
        font-size: 30px;
        height: 40px;
        width: 10px;
        padding-right: 3px;
    }

.dropdown-content {
    display: none;
    position: absolute;
    border-radius: 5px;
    top: 40px;
    height: 150px;
    background-color: #f1f1f1;
    width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 16px 16px;
        height: 50px;
        width: 120px;
        text-decoration: none;
        display: block;
        border-radius: inherit;
    }

        .dropdown-content a:hover {
            background-color: #ddd;
        }
/*.dropdown:hover .dropdown-content {
                            display: block;
                        }*/
.dropdown:hover {
    background-color: #ddd;
}

.buttons {
    float: right;
    display: flex;
    align-items: center;
    justify-content: right;
    height: 100%;
    width: 10%;
}

.svgwrapper {
    box-sizing: border-box;
    padding: 3px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin-right: 10px;
}

    .svgwrapper:hover {
        background-color: #ddd;
    }

.bi-search, .bi-chat {
    padding-top: 3px;
}

a:link, a:visited, a:hover, a:active {
    color: black;
}

.main {
    height: 80%;
    min-height: 300px;
}

.footer {
    height: 5%;
    min-height: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #ded5d5;
}
