@model List<UserBlackListViewModel>
@{ ViewBag.Title = "NatterLite-BlackList"; }

<link rel="stylesheet" href="~/css/User/seeBlackList.css" />

<div class="BlacklistResult" id="BlacklistResult">
    <div class="blacklistresultWrapper">
        @if (Model.Count == 0)
        {
            <span>Your blacklist is empty!</span>
        }
        else
        {
            foreach (var user in Model)
            {
                <div class="person">
                    <img src="data:image/jpeg;base64,@(Convert.ToBase64String(user.UserProfilePicture))" />
                    <div class="userNames">
                        <h4>@user.UserName</h4>
                        <span class="uniqueNameSpan">@user.UserUniqueName</span>
                    </div>
                    <div class="links">
                        <form class="removeFromBL_forms">
                            <input type="hidden" name="userName" value="@user.UserUniqueName" />
                            <input type="submit" value="Remove from BL" />
                        </form>
                        <form method="get" action="/User/SeeProfile">
                            <input type="hidden" id="userUniqueName" name="UserUniqueName" value="@user.UserUniqueName" />
                            <input type="submit" value="Profile" />
                        </form>
                    </div>
                </div>
            }
            <script>
                function setRemoveFromBLEvents() {
                    var removeFromBL_forms = document.getElementsByClassName('removeFromBL_forms');
                    for (let form of removeFromBL_forms) {
                        form.addEventListener('submit', async function (e) {
                            e.preventDefault();
                            let response = await fetch('/User/RemoveFromBlackList', {
                                method: 'PUT',
                                body: new FormData(form),
                            });
                            let result = await response.text();
                            document.getElementsByClassName('main')[0].innerHTML = result;
                            setRemoveFromBLEvents();
                        });
                    }
                }
                setRemoveFromBLEvents();
            </script>
        }
    </div>
</div>
