@{ ViewBag.Title = "NatterLite-Banned Users"; }

<link rel="stylesheet" href="~/css/Admin/bannedUsers.css" />

<div class="Search">
    <form id="searchForm">
        <p>
            <label for="Name">Name:</label><br />
            <input type="text" id="Name" name="Name" maxlength="41" minlength="3" pattern="^@@?[A-Za-z0-9'-_]{1,}" />
        </p>
        <p>
            <div class="button"><input type="submit" value="Search" id="button1" /></div>
        </p>
    </form>
</div>
<div class="SearchResult" id="SearchResult">

</div>
<script src="/js/BannedUsersSearch.js"></script>

