@{ ViewBag.Title = "NatterLite-Search"; }

<link rel="stylesheet" href="~/css/Search/search.css" />

<div class="Search">
    <form id="searchForm">
        <p>
            <label for="Name">Name:</label><br />
            <input type="text" id="Name" name="Name" maxlength="41" minlength="3" pattern="^@@?[A-Za-z0-9'-_]{1,}" />
        </p>
        <p>
            <label>Age:</label><br />
            <label for="AgeFrom">From:</label>
            <input type="number" max="100" min="1" id="ageFrom" name="AgeFrom" />
            <label for="AgeTo">To:</label>
            <input type="number" max="100" min="1" id="ageTo" name="AgeTo" />
        </p>
        <p>
            <label for="country">Country:</label><br />
            <select id="country" name="Country">
                <option value="NoCountry" selected>Select Country</option>
                @foreach (var country in ViewBag.Countries)
                {
                    <option value="@country">@country</option>
                }
            </select>
        </p>
        <p>
            <div class="button"><input type="submit" value="Search" id="button1" /></div>
        </p>
    </form>
</div>
<div class="SearchResult" id="SearchResult">
    <span>Results will be here</span>
</div>
<script src="/js/Search.js"></script>

