@{ ViewBag.Title = "NatterLite-Chats"; }


<link rel="stylesheet" href="~/css/Chat/chatMenu.css" />

<div class="chats" id="chats">

</div>
<div class="messages" id="messages">

</div>
<script src="/js/microsoft/signalr/dist/browser/signalr.min.js" ></script>
<script src="/js/ChatMenu.js" ></script>


