@{ ViewBag.Title = "NatterLite-Chats"; }

<style>
    body {
        min-width: 1250px;
    }

    html, body, div, ul, li {
        height: 100%;
    }

    a:link, a:visited, a:hover, a:active {
        color: black;
    }

    span {
        display: flex;
        justify-content: center;
    }

    .chats {
        float: left;
        height: 100%;
        width: 40%;
        /*min-width:500px;*/
        padding: 5px;
    }

    .chatsWrapper {
        height: 100%;
        width: 100%;
        overflow-y: scroll;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }

    .chat {
        height: 100px;
        width: 100%;
        border-radius: 5px;
        border: 1px solid #ccc;
        margin-top: 5px;
    }

        .chat:hover {
            background-color: #ccc
        }

        .chat .info {
            height: 100%;
            width: 80%;
            float: left;
        }

            .chat .info img {
                height: 70px;
                width: 70px;
                margin-left: 15px;
                margin-top: 15px;
                border-radius: 50%;
                float: left;
            }

            .chat .info .userNames {
                width: 74%;
                height: 40px;
                float: left;
                margin-top: 5px;
                margin-left: 5px;
                display: flex;
                align-items: center;
            }

            .chat .info .lastMessage {
                width: 74%;
                height: 40px;
                float: left;
                margin-top: 5px;
                margin-left: 5px;
                display: flex;
                align-items: flex-start;
            }

                .chat .info .lastMessage .lastMessageSpan {
                    font-size: 12px;
                }

        .chat .timeCounterContainer {
            float: right;
            height: 100%;
            width: 90px;
            padding-right: 5px;
        }

            .chat .timeCounterContainer .messageCounter {
                height: 40px;
                width: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 28px;
                border-radius: 50%;
                float: right;
                background-color: red;
                color: white;
            }

            .chat .timeCounterContainer .messageCounterEmpty {
                height: 40px;
                width: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 28px;
                border-radius: 50%;
                float: right;
            }

            .chat .timeCounterContainer .lastMessageTime {
                height: 15px;
                width: 90px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 15px;
                float: right;
                color: #8e8e8e;
                font-size: 12px;
            }

    .messages {
        float: left;
        height: 100%;
        width: 60%;
        /*min-width: 800px;*/
        padding: 5px;
    }

    .messagesWrapper {
        height: 100%;
        width: 100%;
        border-radius: 5px;
        border: 1px solid #ccc;
    }

    .userInfo {
        height: 15%;
        width: 100%;
        float: left;
        display: flex;
        align-items: center;
        justify-content: left;
        border-bottom: 1px solid #ccc;
    }

        .userInfo img {
            height: 60px;
            width: 60px;
            border-radius: 50%;
        }

        .userInfo h3 {
            margin-left: 10px;
            width: 100%;
            max-width: 280px;
        }

        .userInfo .userNames {
            width: 300px;
            height: 100%;
            float: left;
            display: flex;
            align-items: center;
            justify-content: left;
            margin-left: 5px;
        }

            .userInfo .userNames .namesWrapper {
                width: 100%;
                height: 40px;
            }

                .userInfo .userNames .namesWrapper .status {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: left;
                    margin-left: 10px;
                    color: #8e8e8e;
                }

    .dropdownMes {
        height: 40px;
        width: 40px;
        float: left;
        position: relative;
        display: block;
        margin-left: 30px;
        border-radius: 5px;
    }

    .threedot {
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .threedot:after {
            content: '\2807';
            font-size: 30px;
            height: 40px;
            width: 10px;
            padding-right: 3px;
        }

    .dropdownMes-contentMes {
        display: none;
        position: absolute;
        border-radius: 5px;
        top: 40px;
        height: 100px;
        background-color: #f1f1f1;
        width: 200px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        .dropdownMes-contentMes .dropdownLinkMes {
            color: black;
            height: 50px;
            width: 200px;
            text-decoration: none;
            display: block;
            border-radius: 5px;
        }

            .dropdownMes-contentMes .dropdownLinkMes .dropdownLinkMesSubmit {
                height: 50px;
                width: 200px;
                border: 0px;
                font-size: 1em;
                display: flex;
                justify-content: flex-start;
                padding-left: 10px;
                border-radius: 5px;
            }

                .dropdownMes-contentMes .dropdownLinkMes .dropdownLinkMesSubmit:hover {
                    background-color: #ddd;
                }
    /*.dropdown:hover .dropdownMes-contentMes {
                                display: block;
                            }*/
    .dropdownMes:hover {
        background-color: #ddd;
    }

    .messageblock {
        width: 100%;
        height: 65%;
        float: left;
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;
        overflow-y: scroll;
    }

        .messageblock .MymessageCover {
            width: 100%;
            margin-bottom: 5px;
            display: flex;
            flex-direction: row-reverse;
            align-items: flex-end;
        }

        .messageblock .MymessageTime {
            height: 15px;
            width: 200px;
            font-size: 0.7em;
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
            color: #8e8e8e;
            margin-right: 5px;
            /*float:right;*/
        }

        .messageblock .MymessageCover .messageFromMe {
            /*float:right;*/
            background-color: #b1b1b1;
            border-radius: 5px;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            padding-left: 5px;
            flex-direction: column;
            word-break: break-all;
        }

        .messageblock .MymessageCover .triangleWrapperRight {
            width: 12px;
            height: 100%;
            /*float: right;*/
            display: flex;
            flex-direction: column-reverse;
            align-items: flex-end;
        }

            .messageblock .MymessageCover .triangleWrapperRight .triangle-right {
                width: 0;
                height: 0;
                border-top: 6px solid transparent;
                border-left: 12px solid #b1b1b1;
                border-bottom: 6px solid transparent;
                /*float: right;*/
                margin-bottom: 5px;
            }

        .messageblock .NotMymessageCover {
            width: 100%;
            margin-bottom: 5px;
            display: flex;
            flex-direction: row;
            align-items: flex-end;
        }

        .messageblock .NotMymessageTime {
            height: 15px;
            width: 200px;
            font-size: 0.7em;
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            color: #8e8e8e;
            margin-left: 5px;
            /*float:right;*/
        }

        .messageblock .NotMymessageCover .messageFromNotMe {
            /*float:right;*/
            background-color: #ccc;
            border-radius: 5px;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            padding-left: 5px;
            flex-direction: column;
            word-break: break-all;
        }

        .messageblock .NotMymessageCover .triangleWrapperLeft {
            width: 12px;
            height: 100%;
            /*float: right;*/
            display: flex;
            flex-direction: column-reverse;
            align-items: flex-end;
        }

            .messageblock .NotMymessageCover .triangleWrapperLeft .triangle-left {
                width: 0;
                height: 0;
                border-top: 6px solid transparent;
                border-right: 12px solid #ccc;
                border-bottom: 6px solid transparent;
                /*float: right;*/
                margin-bottom: 5px;
            }

        .messageblock .SystemMessageCover {
            width: 100%;
            height: 25px;
            margin-bottom: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .messageblock .SystemMessageCover .messageFromSystem {
                height: 25px;
                width: 400px;
                background-color: red;
                color: white;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

    .inputblock {
        width: 100%;
        height: 20%;
        float: left;
        border-top: 1px solid #ccc;
        display: flex;
        align-items: center;
        justify-content: left;
    }

        .inputblock .textarea {
            height: 80%;
            width: 80%;
            margin-left: 10px;
        }

            .inputblock .textarea textarea {
                height: 100%;
                width: 100%;
                border: 1px solid #8e8e8e;
                border-radius: 5px;
                resize: none;
                font-family: Verdana;
                font-size: 16px;
            }

                .inputblock .textarea textarea:focus {
                    outline: none;
                    border: 2px solid #8e8e8e;
                }

        .inputblock .sendButton {
            height: 50px;
            width: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 10px;
            border-radius: 5px;
        }

            .inputblock .sendButton:hover {
                background-color: #ddd;
            }
</style>

<div class="chats" id="chats">

</div>
<div class="messages" id="messages">

</div>
<script src="/js/microsoft/signalr/dist/browser/signalr.min.js" ></script>
<script src="/js/ChatMenu.js" ></script>


