
body {
    min-height: 900px;
}

input, select {
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1em;
    height: 30px;
    width: 200px;
}

    input.input-validation-error {
        border: 1px solid red;
    }

.field-validation-error {
    float: right;
    display: flex;
    align-items: center;
    justify-content: left;
}

.field-validation-valid {
    float: right;
    display: flex;
    align-items: center;
    justify-content: left;
}
/*#uniqueName-error {
            height: 30px;
            width: 120px;
        }*/
.Login {
    display: flex;
    justify-content: center;
    height: 100%;
}

    .Login p {
        padding-top: 10px;
    }

    .Login input {
        font-size: 1em;
    }

.button {
    margin: 5px 0px 10px 0px;
    height: 30px;
}

    .button input {
        width: 200px;
    }

form {
    height: inherit;
    width: 400px;
    margin-left: 10%;
}

.validation {
    height: 50px;
    font-size: 12px;
    color: red;
    padding-left: 10px;
    padding-top: 5px;
}

ul {
    padding-left: 10px;
}

li {
    padding-left: 2px;
}

span {
    font-size: 12px;
    color: red;
    width: 200px;
    height: 30px;
    display: flex;
    align-items: center;
}

.input-file {
    position: relative;
    display: inline-block;
}

    .input-file span {
        position: relative;
        display: inline-block;
        cursor: pointer;
        outline: none;
        text-decoration: none;
        font-size: 14px;
        vertical-align: middle;
        color: rgb(255 255 255);
        text-align: center;
        border-radius: 4px;
        background-color: #419152;
        line-height: 22px;
        height: 30px;
        width: 200px;
        padding: 5px 5px;
        box-sizing: border-box;
        border: none;
        margin: 0;
        transition: background-color 0.2s;
    }

    .input-file input[type=file] {
        position: absolute;
        z-index: -1;
        opacity: 0;
        display: block;
        width: 0;
        height: 0;
    }

        /* Focus */
        .input-file input[type=file]:focus + span {
            box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
        }

    /* Hover/active */
    .input-file:hover span {
        background-color: #59be6e;
    }

    .input-file:active span {
        background-color: #2E703A;
    }

    /* Disabled */
    .input-file input[type=file]:disabled + span {
        background-color: #eee;
    }


