
input, select {
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1em;
    height: 30px;
    width: 200px;
}

input[type=number] {
    width: 50px;
}

input[type=submit]:hover {
    background-color: white;
}

#ageFrom {
    margin-right: 9px;
}

span {
    display: flex;
    justify-content: center;
}

.Blacklist {
    display: flex;
    justify-content: center;
    min-height: 230px;
    height: 20%;
}

    .Blacklist p {
        padding-top: 10px;
    }

    .Blacklist input {
        font-size: 1em;
    }

.button {
    margin: 5px 0px 10px 65px;
    height: 30px;
}

    .button input {
        width: 70px;
    }

.BlacklistResult {
    display: flex;
    justify-content: center;
    height: 100%;
    padding-top: 5px;
}

.blacklistresultWrapper {
    width: 830px;
    height: 100%;
    overflow-y: scroll;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 5px;
}

.person {
    height: 100px;
    width: 800px;
    border-radius: 5px;
    border: 1px solid #ccc;
    float: left;
    margin-top: 5px;
}

.uniqueNameSpan {
    display: flex;
    justify-content: flex-start;
}

.person img {
    height: 70px;
    width: 70px;
    margin-left: 15px;
    margin-top: 15px;
    border-radius: 50%;
    float: left;
}

.person .userNames {
    width: 300px;
    height: 40px;
    float: left;
    margin-top: 30px;
    margin-left: 5px;
}

.person .links {
    height: 100%;
    width: 250px;
    float: right;
}

    .person .links input {
        margin-left: 25px;
        margin-top: 12px;
    }


